<div class="row">
    <div class="large-12 columns">
        <a href="#/new" class="round button">New thing</a>
        <button ng-click="sync()" class="round button">Sync</button>

        <div>
            <custom-tag url="'recent'">Последние</custom-tag>
        </div>

        <div ng-repeat="parent in nodeGroups">
            <a ng-href="#/node/{{parent.id}}">{{parent.name}}:</a>
            <ul class="inline-list">
                <li ng-repeat="node in parent.children">
                    <node-tag node="node"></node-tag>
                </li>
            </ul>
        </div>



    </div>

</div>