<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
    <title>Mollect</title>
    <link rel="stylesheet" href="css/vendor/foundation.min.css" />
    <link rel="stylesheet" href="css/vendor/icons/stylesheets/general_foundicons.css">
    <link rel="stylesheet" href="css/vendor/angucomplete-alt.css" />
    <link rel="stylesheet" href="css/vendor/spinner.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/rating.css" />
  </head>
  <body ng-app="mollect">

  <div class="preloader ng-hide">
    Погоди, дядя...
  </div>

  <div class="sticky" id="footer" ng-cloak>
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>
      <section class="middle tab-bar-section">

        <ul class="button-group left">
          <li><a href="#/" class="button"><i class="foundicon-home"></i></a></li>
          <li><a href="#/home/obstacles" class="button"><i class="foundicon-error"></i></a></a></li>
          <li><a href="#/search" class="button"><i class="foundicon-search"></i></a></a></li>
          <li><a href="#/new" class="button"><i class="foundicon-add-doc"></i></a></a></li>
          <li><a href="#/config" class="button"><i class="foundicon-settings"></i></a></a></li>
          <li><a href="#/icons" class="button"><i class="foundicon-paper-clip"></i></a></a></li>
        </ul>

      </section>
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>
  </div>

  <div id="menu" class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Foundation</label></li>
            <li><a href="#/new">Новая запись</a></li>
            <li><a href="#/">Home</a></li>
            <li><a href="#/config">Config</a></li>
            <li><a href="#/dump">Dump</a></li>
            <li><a href="#/stuff">HTML Components</a></li>
          </ul>
          <div id="msg" style="color: gray; font-size: 10px">Log:</div>
        </aside>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Users</label></li>
            <li><a href="#">Hari Seldon</a></li>
            <li class="has-submenu"><a>R. Giskard Reventlov</a>
              <ul class="right-submenu">
                <li class="back"><a href="#">Back</a></li>
                <li><label>Level 1</label></li>
                <li><a href="#">Link 1</a></li>
                <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                  <ul class="right-submenu">
                    <li class="back"><a href="#">Back</a></li>
                    <li><label>Level 2</label></li>
                    <li><a href="#">...</a></li>
                  </ul>
                </li>
                <li><a href="#">...</a></li>
              </ul>
            </li>
            <li><a href="#">...</a></li>
          </ul>
        </aside>

        <section id="content" class="main-section">

          <div ng-controller="DeskCtrl" class="status row">
            <div ng-cloak class="alert" ng-show="desk.alert">
              <span>{{desk.alert}}</span>
              <a class="close" ng-click="desk.clear()">&times;</a>
            </div>
            <div ng-cloak class="info" ng-show="desk.message">
              <span>{{desk.message}}</span>
              <a class="close" ng-click="desk.clear()">&times;</a>
            </div>
          </div>

          <div ng-view style="padding-bottom: 50px;"></div>

        </section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>

  <!-- JS: -->

  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/phonegap.js"></script>

  <script src="bower_components/vendor/modernizr.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/vendor/foundation.min.js"></script>
  <script src="bower_components/vendor/jquery.websql.min.js"></script>
  <script src="bower_components/vendor/showdown.min.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/vendor/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="js/libs/angucomplete-alt.js"></script>
  <script src="bower_components/async/lib/async.js"></script>

  <script src="js/utils.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/init.js"></script>
  <script src="js/components/star-rating.js"></script>
  <script src="js/components/rate-label.js"></script>
  <script src="js/components/node-tag.js"></script>
  <script src="js/components/custom-tag.js"></script>
  <script src="js/components/tags-edit.js"></script>
  <script src="js/components/search-field.js"></script>

  <script src="js/pages/home.js"></script>
  <script src="js/pages/edit.js"></script>
  <script src="js/pages/show.js"></script>
  <script src="js/pages/recent.js"></script>
  <script src="js/pages/search.js"></script>

  <script src="js/utils/desk.js"></script>
  <script src="js/utils/config.js"></script>
  <script src="js/utils/dump.js"></script>
  <script src="js/utils/sugar.js"></script>

  <script src="js/model/sql_wiz.js"></script>
  <script src="js/db/db.js"></script>
  <script src="js/db/db-initializer.js"></script>
  <script src="js/model/activerecord.js"></script>
  <script src="js/db/sync.js"></script>
  <script src="js/model/node-relations.js"></script>
  <script src="js/model/node.js"></script>
  <script src="js/model/nodes-walker.js"></script>
  <script src="js/model/nodes.js"></script>
  <script src="js/model/weights.js"></script>
  <script src="js/model/loops.js"></script>
  <script src="js/model/links.js"></script>
  <script src="js/model/case.js"></script>
  <script src="js/model/settings.js"></script>

  </body>
</html>
