<form name="myForm">

<div class="row">

    <div data-alert class="alert-box alert round" ng-class="{hide: !alert}">
        <span>{{alert}}</span>
        <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success round" ng-class="{hide: !info}">
        <span>{{info}}</span>
        <a href="#" class="close">&times;</a>
    </div>


    <div class="large-12 columns">
        <input type="text" ng-model="node.name"  placeholder="{{node.category}}..." />
    </div>
</div>

<tags-edit picked-tags="node.tags" suggested-tags="suggestedTags" save-last-tag="saveLastTag"></tags-edit>

<div class="row">
    <div class="large-12 columns">
        <textarea ng-model="node.description" placeholder="Comment"></textarea>
    </div>
</div>

<button type="button" ng-click="save()" ng-disabled="myForm.$invalid" class="round button">Save</button>

</form>