<div class="row">
    <h3>Status: {{info}} Version: {{clientVersion}}</h3>
    <div class="large-12 columns">
        <a href="#/new" class="round button">New thing</a>
        <a href="#/new?type=tag" class="round button">New tag</a>
        <button ng-click="sync()" class="round button">Sync</button>

        <div ng-repeat="parent in nodeGroups">
            <a ng-href="#/node/{{parent.id}}">{{parent.name}}:</a>
            <ul class="inline-list">
                <li ng-repeat="node in parent.children">
                    <node-button node="node"></node-button>
                </li>
            </ul>
        </div>



    </div>

</div>