<form name="myForm">

<div class="row">
    <div class="large-12 columns">
        <input type="text" ng-model="node"  placeholder="Thing..." />
        <a href="#" class="small round button">Seduction</a>
        <a href="#" class="small round button">Business</a>
        <a href="#" class="small round button">Art</a>
    </div>
    <div class="large-12 columns">

        <input type="text" style="width:200px; float: left" placeholder="New tag" />
        <a href="#" class="small round button" style="float: left; margin-left: 10px">+</a>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <textarea placeholder="Comment"></textarea>
    </div>
</div>

<button ng-click="save()" ng-disabled="myForm.$invalid" class="small round button">Save</button>

</form>