<div class="row">

        <form name="myForm">

        <div class="medium-4 columns">
                <input ng-model="containsString" type="text" placeholder="Содержит" />
        </div>
        <div class="medium-4 small-6 columns">
                <input ng-model="searchInDescription" id="searchInDescription" type="checkbox">
                <label for="searchInDescription">В описании тоже</label>
        </div>
        <div class="medium-4 small-6 columns">
                <select ng-model="category">
                        <option value="all">Все типы</option>
                        <option value="tag">Тэги</option>
                        <option value="thing">Things</option>
                </select>
        </div>


        <div class="medium-6 columns">
                <tags-edit label="Должно быть:" picked-tags="includeTags" save-last-tag="saveLastTag"></tags-edit>
        </div>
        <div class="medium-6 columns">
                <tags-edit label="Не должно быть:" tag-style="alert" picked-tags="excludeTags" save-last-tag="saveLastTag"></tags-edit>
        </div>
        <div class="medium-12 columns">
                <input type="submit" ng-click="search()" class="round button"/>
        </div>

        </form>
</div>

<div class="row">
        <div class="medium-12 columns">
        <ul class="inline-list">
                <li ng-repeat="node in resultNodes">
                        <node-tag node="node"></node-tag>
                </li>
        </ul>
        </div>
</div>