<div class="medium-12 columns">
  <tags-edit label="Поиск"
             picked-tags="tags"
             input-text="text"
             search-func="search()"
  ></tags-edit>
</div>

<div class="medium-12 columns">
  <div ng-show="searching" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
  <input ng-hide="searching" type="submit"
         ng-click="search()" class="round button"/>
</div>
