<div class="row" style="height: 50px">
    <div class="large-12 columns">
        <angucomplete-alt id="tags"
                          placeholder="{{label}}"
                          pause="100"
                          clear-selected="true"
                          override-suggestions="true"
                          selected-object="selectedTag"
                          input-changed="inputChanged"
                          initial-value="{{inputText}}"
                          local-data="tags_list"
                          show-add-new-tag="showAddNewTag"
                          search-fields="name"
                          title-field="name"
                          minlength="1"/>
        <br/>
    </div>
</div>

<div class="row" style="height: 50px">
  <div class="large-12 columns">
    <div ng-transclude style="display: inline-block; float: right;"></div>
    <ul class="inline-list">
      <li ng-repeat="tag in pickedTags"><span class="radius label success">
          {{tag.name}}
        <a ng-click="dropTag(tag.name)" class="close">&times;</a>
      </span></li>
    </ul>
  </div>
</div>

<div class="row" style="height: 50px" ng-class="{hide: !suggestedTags}">
  <div class="columns">
    Suggested tags:
    <ul class="inline-list">
      <li ng-repeat="tag in suggestedTags"><span class="secondary radius label">
        <a ng-click="addTag(tag.name)">{{tag.name}}</a>
      </span></li>
    </ul>
  </div>
</div>