
.rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.rating li {
    padding: 1px;
    color: #a9a9a9;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.rating li.foundicon-star.filled {
    color: #fd0;
}
.rating li.foundicon-checkmark.filled {
    color: #19469D;
}
.rating li.foundicon-remove.filled {
    color: #cc0000;
}
